@model TL13Shop.Models.OrderDetailViewModel

<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Customer Address</th>
            <th>Customer Phone</th>
            <th>Price</th>
            <th>Style</th>
        </tr>
    </thead>
    <tbody>
        <tr>
			<input type="hidden" id="orderId" value="@Model.OrderId">
			<td>@Model.CustomerName</td>
			<td>@Model.CustomerAddress</td>
			<td>@Model.CustomerPhone</td>
			<td>@Model.Price</td>
			<td>@Model.Style</td>
		</tr>

    </tbody>
</table>