@using System.Security.Claims
@{
	Layout = "_MainLayout";
}

@{
	var userId = Context.User.FindFirstValue(ClaimTypes.NameIdentifier);
}


<div class="container-fluid bg-secondary mb-5">
	<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
		<h1 class="font-weight-semi-bold text-uppercase mb-3">Your Orders</h1>
		<div class="d-inline-flex">
			<p class="m-0"><a asp-controller="Home" asp-action="Index">Home</a></p>
			<p class="m-0 px-2">-</p>
			<p class="m-0">Your Orders</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="order_list">
			<div class="order_status_list d-flex justify-content-around">
				<div class="order_status_item">
					<a asp-action="OrdersByStatus" asp-controller="User" asp-route-userId="@userId">All</a>
				</div>
				<div class="order_status_item">
					<a asp-action="OrdersByStatus" asp-controller="User" asp-route-statusId=1 asp-route-userId="@userId">To Confirm</a>
				</div>
				<div class="order_status_item">
					<a asp-action="OrdersByStatus" asp-controller="User" asp-route-statusId=2 asp-route-userId="@userId">To Ship</a>
				</div>
				<div class="order_status_item">
					<a asp-action="OrdersByStatus" asp-controller="User" asp-route-statusId=3 asp-route-userId="@userId">Completed</a>
				</div>
				<div class="order_status_item">
					<a asp-action="OrdersByStatus" asp-controller="User" asp-route-statusId=4 asp-route-userId="@userId">Cancelled</a>
				</div>
			</div>

			@RenderBody()
		</div>
	</div>
</div>

<!-- Modal Order Detail -->
<div class="modal">
	<div class="modal__overlay">
	</div>
	<div class="modal__body">
		<div class="detail-layout">
			<div class="detail-layout__container">
				<div class="detail-layout__header">
					<i class="detail-layout__icon fa fa-clipboard"></i>
					<h3 class="detail-layout__heading">Order Details</h3>
					<div class="detail-layout__x-button">
						<i class="detail-layout__x-icon fa fa-close"></i>
					</div>
				</div>
				<div class="detail-layout__form">
					<table class="table detail-table">
						<thead>
							<tr>
								<th scope="col">Customer Name</th>
								<th scope="col">Customer Address</th>
								<th scope="col">Customer Phone</th>
								<th scope="col">Price</th>
								<th scope="col">Style</th>
							</tr>
						</thead>
						<tbody>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Modal Order Detail -->

	<script>
	function loadOrderDetails(orderId, productId) {
		$.ajax({
			url: '/User/OrderDetails',
			dataType: 'html',
			type: 'GET',
			data: { orderId: orderId, productId: productId },
			success: function (response) {
				console.log(response);
				$('.detail-table tbody').html(response);
				$('.modal').show();
			}
				error: function (error) {
				alert("An error occurred while loading the order details.");
			}
		});
	}
</script>