@model TL13Shop.Models.OrderDetailViewModel

<tr>
	<input type="hidden" id="orderId" value="@Model.OrderId">
	<td>@Model.CustomerName</td>
	<td>@Model.CustomerAddress</td>
	<td>@Model.CustomerPhone</td>
	<td>@Model.Price</td>
	<td>@Model.Style</td>
</tr>
