@model TL13Shop.Models.RegisterVM
@{
	ViewData["Title"] = "Register";
}

<div class="container-fluid bg-secondary mb-5">
	<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
		<h1 class="font-weight-semi-bold text-uppercase mb-3">Register</h1>
		<div class="d-inline-flex">
			<p class="m-0"><a asp-controller="Home" asp-action="Index">Home</a></p>
			<p class="m-0 px-2">-</p>
			<p class="m-0">Register</p>
		</div>
	</div>
</div>

<div class="container-fluid pt-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h2>Đăng ký</h2>
			<form asp-action="Register" asp-controller="User" enctype="multipart/form-data">
				<div class="col-md-12 form-group">
					<label asp-for="@Model.UserName"></label>
					<input asp-for="@Model.UserName" class="form-control" placeholder="Username">
					<span asp-validation-for="@Model.UserName" class="text-danger"></span>
				</div>
				<div class="col-md-12 form-group">
					<label asp-for="@Model.Password"></label>
					<input asp-for="@Model.Password" class="form-control" placeholder="Password">
					<span asp-validation-for="@Model.Password" class="text-danger"></span>
				</div>
				<div class="col-md-12 form-group">
					<label asp-for="@Model.ConfirmPassword"></label>
					<input asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Confirm Password">
					<span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
				</div>
				<div class="card-footer border-secondary bg-transparent">
					<button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Register</button>
				</div>
			</form>
		</div>
	</div>
</div>
